.cards-actions {
  display: flex;
  justify-content: space-between;
  >div {
    width: 40%;
  }
  .card-info-box {
    width:100%;
    display:flex;
    justify-content:space-between;

    input {
      outline: none;
      border: none;
      color: #787878;
      text-align: end;
      width: 50%;
      margin-right: -18px;
      ::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {

        opacity: 1;

      }
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  opacity: 1;

}